body {
    background-image: url("/home/luza/Imagens/cat-returns-1.jpg");
    text-align: center;
}
h1 {
    font-weight: italic;
    padding: 30px;
    color:black;
    background-color:paleturquoise;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color:aqua;
    background-color:gray;
}
h3{
    background-color:darkcyan;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: right;
}
p{
    background-color:deepskyblue;
    font: weight 9px;
    font-weight: bold;
}
a{
    text-decoration: none;
    background-color: cornflowerblue;
    text-align: right; 
}